*{
    margin: 0;
    padding: 0;
}

.texto-menor{
    font-size: 13px;
}

.div-facilidades{
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

.posicao{
    top: 60%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}
